.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.Slider {
    width: 50px;
    display: block;
    margin-left: 8px;
}

.Label {
    font-size: larger;
    font-weight: bold;
    align-items: flex-start;
}